<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="Mime" version="2.3.5" targetFramework="net452" />
  <package id="MimeTypesMap" version="1.0.2" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
</packages>